body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2c3238;
  font-family: 'Old Standard TT', serif;
  background: #fdfdfd;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
body.dark {
  color: #fdfdfd;
  background: #2c3238;
}

.vocab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40rem;
}

.vocab__word {
  display: 'flex';
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  margin: 1rem 0;
}

.vocab__passage {
  font-size: 1.5rem;
  margin: 5px;
}

.vocab__definition {
  font-size: 1rem;
  font-style: italic;
  margin: 1rem auto;
  width: 30rem;
}

.vocab__hr {
  border: none;
  border-top: 1px solid #d7dbe0;
  outline: none;
  margin: 1rem auto;
  width: 2rem;
}

.vocab__loading {
  font-size: 1.25rem;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}
/* Safari */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Switch css */
.switch {
  display: inline-block;
  width: 40px;
  height: 26px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.switch-input {
  display: none;
}
.switch-slider {
  position: relative;
  display: block;
  height: inherit;
  cursor: pointer;
  background-color: #2c3238;
  border: 1px solid #2c3238;
  transition: 0.15s ease-out;
  border-radius: 0.25rem;
}
.switch-slider::before {
  position: absolute;
  top: 2px;
  left: 2px;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  content: '';
  background-color: #fff;
  border: 1px solid #2c3238;
  transition: 0.15s ease-out;
  border-radius: 0.125rem;
}
.dark .switch-slider::before {
  background-color: #2c3238;
}
.switch-input:checked ~ .switch-slider::before {
  -webkit-transform: translateX(14px);
  transform: translateX(14px);
}
.switch-input:disabled ~ .switch-slider {
  cursor: not-allowed;
  opacity: 0.5;
}
.switch-label {
  width: 48px;
}
.switch-label .switch-slider::before {
  z-index: 2;
}
.switch-label .switch-slider::after {
  position: absolute;
  top: 50%;
  right: 1px;
  z-index: 1;
  width: 50%;
  margin-top: -0.5em;
  font-size: 10px;
  font-weight: 600;
  line-height: 1;
  color: #c8ced3;
  text-align: center;
  text-transform: uppercase;
  content: attr(data-unchecked);
  transition: inherit;
}
.switch-label .switch-input:checked ~ .switch-slider::before {
  -webkit-transform: translateX(22px);
  transform: translateX(22px);
}
.switch-label .switch-input:checked ~ .switch-slider::after {
  left: 1px;
  color: #fff;
  content: attr(data-checked);
}
.switch-secondary .switch-input:checked + .switch-slider {
  background-color: #fff;
  border-color: #fff;
}
.switch-secondary .switch-input:checked + .switch-slider::before {
  border-color: #acb5bc;
}
.switch-pill .switch-slider {
  border-radius: 50em;
}
.switch-pill .switch-slider::before {
  border-radius: 50em;
}
